@page
@using McWuT.Web.Areas.Identity.Pages.Account.Manage
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<div class="container py-5 d-flex justify-content-center align-items-center min-vh-100 bg-light">
    <div class="card shadow-lg" style="max-width: 400px; width: 100%;">
        <div class="card-body p-4">
            <h2 class="card-title text-center mb-4">@ViewData["Title"]</h2>
            <partial name="_StatusMessage" for="StatusMessage" />
            <form id="profile-form" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Username" class="form-control" placeholder="Please choose your username." disabled />
                    <label asp-for="Username" class="form-label"></label>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Please enter your phone number."/>
                    <label asp-for="Input.PhoneNumber" class="form-label"></label>
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>
                <button id="update-profile-button" type="submit" class="btn btn-primary w-100 mb-2">Save</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
