@page
@using McWuT.Web.Areas.Identity.Pages.Account
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirm email change";
}

<div class="container py-5 d-flex justify-content-center align-items-center min-vh-100 bg-light">
    <div class="card shadow-lg w-100" style="max-width: 400px;">
        <div class="card-body p-4 text-center">
            <h2 class="card-title mb-4">@ViewData["Title"]</h2>
            <partial name="_StatusMessage" model="Model.StatusMessage" />
        </div>
    </div>
</div>
